<h1>Listing dudes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bio</th>
      <th>Picture</th>
      <th>Activity</th>
      <th>Neighborhood preference</th>
      <th>Email</th>
      <th>Phone</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @dudes.each do |dude| %>
      <tr>
        <td><%= dude.name %></td>
        <td><%= dude.bio %></td>
        <td><%= dude.picture %></td>
        <td><%= dude.activity %></td>
        <td><%= dude.neighborhood_preference %></td>
        <td><%= dude.email %></td>
        <td><%= dude.phone %></td>
        <td><%= link_to 'Show', dude %></td>
        <td><%= link_to 'Edit', edit_dude_path(dude) %></td>
        <td><%= link_to 'Destroy', dude, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dude', new_dude_path %>
